# m h dom mon dow	command
15 * * * * /usr/local/bin/ruby /usr/src/app/src/cronjobs/update_exchange_rates.rb >> /usr/src/app/logs/cron_update_exchange_rates.log 2>&1
59 23 * * * cd /usr/src/app && ./scripts/archive_logs.sh
0 0 * * * /usr/src/app && ./scripts/purge_logs.sh
