# m h dom mon dow	command
15 * * * * cd /usr/src/app && ruby ./src/cronjobs/update_exchange_rates.rb >> ./logs/cron_update_exchange_rates.log 2>&1
59 23 * * * cd /usr/src/app && ./scripts/archive_logs.sh
0 0 * * * /usr/src/app && ./scripts/purge_logs.sh
